.cards {
    display: flex;
    gap: 30px;
    padding: 70px;
}

img {
    width: 200px;
    height: 200px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

audio {
    display: none;
}